Package: wsdd
Version: 0.6.2-1
Architecture: all
Maintainer: Volker Theile <volker.theile@openmediavault.org>
Installed-Size: 78
Depends: samba-common-bin
Section: net
Priority: optional
Description: Web Services on Devices (WSD) daemon
 Web Services on Devices (WSD) is a Microsoft API to simplify programming
 connections to web service enabled devices, such as Printers, Scanners
 and File Shares.
 .
 This daemon advertises and responds to probe requests from Windows
 clients looking for File Shares.
